.frontContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  font-family: 'American Typewriter';
  font-size: 20px;
}

#marbleLand {
  height: 500px;
  width: 700px;
}

img #marbleLand {
  width: 100%;
}

.register {
  position: absolute;
  margin-top: 300px;
}
