body {
  /*display: flex;*/
  /*justify-content: center;
  align-items: center;*/
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FEE9A2;
  height: 375px;
  width: 375px;
  border-radius: 50px;
  border-width: 3px;
  border-style: solid;
  border-color: #F0F8FF;
  font-family: "Courier New";
  margin-top: 15vh;
}

.button {
  position: relative;
  margin: 0 auto;
  width: 60px;
  display: block;
}

.center-button {
  position: relative;
  margin-top: 3vh;
}

h1 {
  margin-top: 0;
}


/*#FEE9A2*/
